body {
  background-color: #f8f8f8;
  margin: 0;
}

/* HEADER */

header {
  background-color: #02194F;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

nav {
  font-family: 'montserrat', 'open sans', 'veranda', sans-serif;
  font-size: 1em;
  font-weight: bold;
}

ul {
  color: #fff;
  list-style: none;
  display: flex;
  flex-direction: row;
}

li {
  padding-right: 2em;
}

.logo {
  max-height: 100px;
  max-width: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

a:link, 
a:visited, 
a:active {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #f26100;
}

/* MAIN */


main {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  margin-bottom: 3em;
}

.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin: 5vw auto;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
  font-family: 'montserrat', 'open sans', 'veranda', sans-serif;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #d9d9d9;
  border-radius: 3px;
  margin-bottom: 15px;
}

button {
  background-color: #f26100;
  color: white;
  padding: 10px 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'montserrat', 'open sans', Verdana, Tahoma, sans-serif;
  font-weight: bold;
}

button:hover {
  background-color: #1a825c;
}

#login-form, #register-form {
  font-family: 'open sans', Verdana, Tahoma, sans-serif;
  margin: 2vw auto;
}

#error-message {
  color: red;
  font-weight: bold;
  text-align: center;
}

.createaccount {
  display: flex;
  flex-direction: row;
  font-size: 0.8em;
}

.createaccount a {
  color: rgb(9, 158, 9);
  margin-left: 10px;
}

/* FOOTER */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
  background-color: #02194F;
  position: relative;
}

h3,
.social-media,
.contact-info {
    font-family: 'opensans', sans-serif;
    color: #fff;
}

h3 {
  font-size: 1.1rem;
}

.contact-info li {
  display: flex;
  margin-bottom: 15px;
}

.social-media li, a {
  display: flex;
  align-items: center;
}

.social-media i.fa-brands {
  font-size: 1.5rem;
}

.social-media p {
  margin: 10px;
}

.social-media ul, .contact-info {
  display: flex;
  flex-direction: column;
}